@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to bottom, #723C3C, #110802);
    color: #fff;
}

header {
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #00c3ff;
    font-size: 1.5rem;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 1.5rem;
}

.nav-links a {
    color: #00c3ff;
    text-decoration: none;
    transition: .3s;
}

.nav-links a:hover{
    background: black;
    border-radius: 20px;
    padding: 10px;
}

.active {
    background: black;
    border-radius: 20px;
    padding: 10px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    background: linear-gradient(to bottom, #723C3C, #110802);
    min-height: calc(100vh - 60px); 
}

.profile-image img {
    border-radius: 15px;
    width: 400px;
    height: 353px;
}

.profile-info {
    margin-left: 2rem;
    text-align: left;
}

.profile-info h1 {
    font-size: 2.5rem;
    color: #00c3ff;
}

.profile-info h2 {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.profile-info p {
    font-size: 1rem;
    margin-top: 0.5rem;
}

button {
    background-color: #ff4a4a;
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    transition: .3s ease-in-out;
}

button:hover {
    background-color: #723C3C;
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .profile-info {
        margin-left: 0;
        margin-top: 1rem;
    }

    .profile-image img {
        width: 200px;
        height: 235px;
    }

    .profile-info h1 {
        font-size: 1.8rem;
    }

    .profile-info h2 {
        font-size: 1rem;
    }

    .profile-info p {
        font-size: 0.9rem;
    }

    .nav-links{
        display: none;
    }
}
